<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-container">

    <!-- Top border line -->
    <div class="border-line"></div>

    <!-- Title -->
    <h2>OUR MENUS</h2>

    <!-- Bottom border line -->
    <div class="border-line "></div>

    <!-- Description -->
    <p>
      SMOKED BRISKET, TENDER RIBS, SMOKED SAUSAGE, BACON & CHEDDAR WITH
      LETTUCE, TOMATO, HOUSE BBQ & RANCH.
    </p>
  </div>
</section>

<!-- burger Section -->
<section class="burgers-section">
  <div class="burger-container">
    <div class="burgers-show">
      <div class="burgers-item">
        <img src="/src/images/fish-burger.png" alt="Fish Burger" data-aos="fade-right">
        <div class="burgers-text">
          <h1 data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">FISH BURGER</h3>
            <p data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">LIFE IS LIKE A BURGER THE MORE YOU ADD
              TO
              IT,
              THE BETTER IT BECOMES</p>
        </div>
        <h2 data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">120TK</h2>
      </div>
      <div class="burgers-item">
        <img src="/src/images/beef-burger.png" alt="Beef Burger" data-aos="fade-right">
        <div class="burgers-text">
          <h1 data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">BEEF BURGER</h3>
            <p data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">BURGER FOR THE BODY IS NOT ENOUGH THERE MUST
              BE A BURGER FOR THE SOUL</p>
        </div>
        <h2 data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">150tk</h2>
      </div>
      <div class="burgers-item ">
        <img src="/src/images/veggie-burger.png" alt="Veggie Burger" data-aos="fade-right">
        <div class="burgers-text">
          <h1 data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">VEGGIE BURGER</h3>
            <p data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">ROSES ARE RED, VIOLETS ARE BLUE. THE BURGER
              COSTS LESS THAN DINNER FOR TWO</p>
        </div>
        <h2 data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">100tk</h2>
      </div>
    </div>

    <!-- devider -->
    <div class="devider-title" data-aos="zoom-in" data-aos-anchor-placement="bottom-bottom">
      <div class="devider-line"></div>
      <span class="devider-text">ORIGINAL BURGER</span>
      <div class="devider-line"></div>
    </div>

    <div class="menu">
  <!-- LEFT COLUMN -->
  <div class="w-full lg:w-1/2">
    <div class="menu-item ">
      <div>
        <h3 class="menu-title">Spicy Crab Ramen</h3>
        <p class="menu-desc">Crab / Veggie / Soup</p>
      </div>
      <span class="menu-price">180TK</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 480 kcal</p>
        <p>Protein: 20g</p>
        <p>Carbs: 71g</p>
        <p>Fat: 15g</p>
      </div>
    </div>

    <div class="menu-item">
      <div>
        <h3 class="menu-title">Fresh Crab with Lemon</h3>
        <p class="menu-desc">Crab / Lemon / Garlic</p>
      </div>
      <span class="menu-price">220TK</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 390 kcal</p>
        <p>Protein: 25g</p>
        <p>Carbs: 12g</p>
        <p>Fat: 22g</p>
      </div>
    </div>

    <div class="menu-item">
      <div>
        <h3 class="menu-title">Grilled Salmon Sushi</h3>
        <p class="menu-desc">Rice / Salmon / Shoyu</p>
      </div>
      <span class="menu-price">130Tk</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 300 kcal</p>
        <p>Protein: 18g</p>
        <p>Carbs: 35g</p>
        <p>Fat: 8g</p>
      </div>
    </div>

    <div class="menu-new">New</div>
    <div class="menu-item border border-secondary rounded-b w-[calc(100%+40px)] px-[20px] mx-[-20px]">
      <div>
        <h3 class="menu-title">Fried Chicken Salad</h3>
        <p class="menu-desc">Chicken / Butter / Veggies</p>
      </div>
      <span class="menu-price">100TK</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 450 kcal</p>
        <p>Protein: 27g</p>
        <p>Carbs: 20g</p>
        <p>Fat: 25g</p>
      </div>
    </div>

    <div class="menu-item ">
      <div>
        <h3 class="menu-title">Italian Source Mushroom</h3>
        <p class="menu-desc">Mushroom / Garlic / Veggies</p>
      </div>
      <span class="menu-price">180TK</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 280 kcal</p>
        <p>Protein: 9g</p>
        <p>Carbs: 45g</p>
        <p>Fat: 6g</p>
      </div>
    </div>

    <div class="menu-item">
      <div>
        <h3 class="menu-title">Fried Potatoes with Garlic</h3>
        <p class="menu-desc">Potatoes / Olive Oil / Garlic</p>
      </div>
      <span class="menu-price">100TK</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 350 kcal</p>
        <p>Protein: 5g</p>
        <p>Carbs: 60g</p>
        <p>Fat: 12g</p>
      </div>
    </div>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="w-full lg:w-1/2">
    <div class="menu-item">
      <div>
        <h3 class="menu-title">Pork with Italian Salsa Verde</h3>
        <p class="menu-desc">Pork / Tomatoes / Veggies</p>
      </div>
      <span class="menu-price">180TK</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 380 kcal</p>
        <p>Protein: 22g</p>
        <p>Carbs: 40g</p>
        <p>Fat: 10g</p>
      </div>
    </div>

    <div class="menu-item">
      <div>
        <h3 class="menu-title">Imported Oysters Grill (5 Pieces)</h3>
        <p class="menu-desc">Oysters / Veggie / Ginger</p>
      </div>
      <span class="menu-price">140TK</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 210 kcal</p>
        <p>Protein: 24g</p>
        <p>Carbs: 6g</p>
        <p>Fat: 8g</p>
      </div>
    </div>

    <div class="menu-new">New</div>
    <div class="menu-item border border-secondary rounded-b w-[calc(100%+40px)] px-[20px] mx-[-20px]">
      <div>
        <h3 class="menu-title">Grilled Pork with Preserved Lemons</h3>
        <p class="menu-desc">Pork / Lemons / Onions</p>
      </div>
      <span class="menu-price">200TK</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 400 kcal</p>
        <p>Protein: 26g</p>
        <p>Carbs: 20g</p>
        <p>Fat: 16g</p>
      </div>
    </div>

    <div class="menu-item ">
      <div>
        <h3 class="menu-title">Lemon-Rosemary Chicken</h3>
        <p class="menu-desc">Chicken / Rosemary / Lemon</p>
      </div>
      <span class="menu-price">180TK</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 330 kcal</p>
        <p>Protein: 29g</p>
        <p>Carbs: 14g</p>
        <p>Fat: 12g</p>
      </div>
    </div>

    <div class="menu-new">New</div>
    <div class="menu-item border border-secondary rounded-b w-[calc(100%+40px)] px-[20px] mx-[-20px]">
      <div>
        <h3 class="menu-title">Apple Smoked Chicken with White Sauce</h3>
        <p class="menu-desc">Chicken / Apple / Tomatos</p>
      </div>
      <span class="menu-price">170Tk</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 370 kcal</p>
        <p>Protein: 28g</p>
        <p>Carbs: 18g</p>
        <p>Fat: 14g</p>
      </div>
    </div>

    <div class="menu-item relative flex justify-between items-start ">
      <div>
        <h3 class="menu-title">Meatloaf with Black Pepper-Honey BBQ</h3>
        <p class="menu-desc">Pepper / Chicken / Honey</p>
      </div>
      <span class="menu-price">180TK</span>
      <div class="hover-card">
        <h4 class="font-bold text-lg">Nutrition Info</h4>
        <p>Calories: 420 kcal</p>
        <p>Protein: 24g</p>
        <p>Carbs: 35g</p>
        <p>Fat: 16g</p>
      </div>
    </div>
  </div>
</div>



    <div class="burger-bottom" data-aos-anchor-placement="bottom-bottom">
      <div class="burger-img" data-aos="flip-up" data-aos-duration="800" data-aos-delay="0">
        <img src="/src/images/burger-plate.jpg" alt="Burger Plate">
      </div>
      <div class="burger-cards">
        <div class="card" data-aos="flip-up" data-aos-duration="800" data-aos-delay="200">
          <h4><span>OUR <br></span>MENUS</h4>
          <p>Discover a wide variety of freshly prepared burgers, sides, and drinks designed to satisfy every craving.
            From our signature classics to seasonal specials, each dish is made with the freshest ingredients
            and a passion for flavor. Whether you’re dining in or taking away, our menu has something for everyone.
          </p>
          <button class="btn-orange">VIEW MENUS</button>
        </div>
        <div class="card" data-aos="flip-up" data-aos-duration="800" data-aos-delay="300">
          <h4><span>ORDER <br></span>DELIVERY</h4>
          <p> Enjoy your favorite burgers without leaving home! Our fast and reliable delivery service brings
            the taste you love straight to your door. Choose from our full menu, customize your order,
            and track your delivery in real time for the ultimate convenience.</p>
          <button class="btn-black">ORDER ONLINE</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="presentation">

  <!-- First Row -->
  <div class="presentation-row">
    <div class="presentation-image">
      <img src="/src/images/Tomato_Sauce.jpg" alt="Tomato_Sauce">
    </div>
    <div class="presentation-card-1">
      <div class="presentation-header  text-[#091925]" data-aos="zoom-in">
        <div class="presentation-line"></div>
        <h1 class="presentation-logo-1">PRESENT</h1>
        <div class="presentation-line"></div>
      </div>
      <div class="presentation-text text-[#091925]">
        <h1 data-aos="fade-up">TOMATO <br> ORIGINAL</h1>
        <span data-aos="zoom-in">Sauce</span>
        <h4 data-aos="fade-right">OUR SIGNATURE HANDMADE BEEF PATTY</h4>
        <p data-aos="fade-left">Our rich, slow-cooked tomato sauce is crafted from sun-ripened tomatoes and a
          secret blend of herbs. It’s
          the heart of our burgers, adding depth, warmth, and a burst of freshness in every bite.</p>
        <button class="view-menu-1" data-aos="flip-up">view-menus</button>
      </div>
    </div>
  </div>

  <!-- Second Row -->
  <div class="presentation-row-1">
    <div class="presentation-card-2">
      <div class="presentation-header" data-aos="zoom-in">
        <div class="presentation-line-2"></div>
        <span class="presentation-logo-2">ALWAYS</span>
        <div class="presentation-line-2"></div>
      </div>
      <div class="presentation-text">
        <h1 class="text-[#fae38d]" data-aos="fade-up">FRESH</h1>
        <h1 class="text-primary" data-aos="fade-up">SALAD</h1>
        <h4 data-aos="fade-left">Life is like a burger — the more you add to it, the better it becomes</h4>
        <p data-aos="fade-right">We prepare our salads daily using crisp greens, vibrant vegetables, and zesty
          dressings, ensuring every
          bite is as refreshing as it is flavorful — the perfect companion to your burger feast.</p>
        <button class="view-menu-2" data-aos="flip-down">view-menus</button>
      </div>
    </div>
    <div class="presentation-image">
      <img src="/src/images/Salad.jpg" alt="Salad">
    </div>
  </div>

  <!-- Bottom Section -->
  <div class="bottom-presentation">
    <div class="bottom-presentation-img">
      <div class="bottom-presentation-text">
        <h1 data-aos="fade-up"><span>THE </span>SUPER SUNDAY</h1>
      </div>
      <img src="/src/images/ice-cream.jpg" alt="Burger Plate">
    </div>
  </div>
</section>