<section class="hero-section">
    <div class="hero-container">
        <div class="category">
            <!-- Burger -->
            <div class="logo-item">
                <img src="/src/images/burger-logo.png" alt="Burger" class="w-20 h-20 rounded-full shadow-md">
                <p>Burger</p>
            </div>

            <!-- Fries -->
            <div class="logo-item">
                <img src="/src/images/fries_logo.png" alt="Fries" class="w-20 h-20 rounded-full shadow-md">
                <p>Fries</p>
            </div>

            <!-- Sandwich -->
            <div class="logo-item">
                <img src="/src/images/sandwich-logo.png" alt="Sandwich" class="w-20 h-20 rounded-full shadow-md">
                <p>Sandwich</p>
            </div>

            <!-- Drink -->
            <div class="logo-item">
                <img src="/src/images/drinks-logo.png" alt="Drink" class="w-20 h-20 rounded-full shadow-md">
                <p>Drink</p>
            </div>

            <!-- Salad -->
            <div class="logo-item">
                <img src="/src/images/salad-logo.png" alt="Salad" class="w-20 h-20 rounded-full shadow-md">
                <p>Salad</p>
            </div>

            <!-- Dessert -->
            <div class="logo-item">
                <img src="/src/images/desserts.png" alt="Dessert" class="w-20 h-20 rounded-full shadow-md">
                <p>Dessert</p>
            </div>
        </div>

    </div>

</section>