 <!-- Subscribe Section -->
    <section class="subscribe-section">
      <div class="subscribe-container">
        <!-- Title with lines -->
        <div class="subscribe-title">
          <div class="subscribe-line"></div>
          <span class="subscribe-text">SUBSCRIBE NOW</span>
          <div class="subscribe-line"></div>
        </div>

        <div class="subscribe-text-form">
          <!-- Subtext -->
          <p class="subscribe-subtext">
            Subscribe now to receive fresh<br />
            deals & offers by email.
          </p>

          <!-- Subscription Form -->
          <form class="subscribe-form">
            <input type="email" placeholder="Email" class="subscribe-input" />
            <button type="submit" class="subscribe-button">Sign up</button>
          </form>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-content">
        <div class="logo-container">
          <h1>GRAND <span class="icon">🍔</span> BURGER</h1>
        </div>

        <div class="footer-text">
          <!-- Contact Info -->
          <div class="footer-info">
            <p>732/21 Second Street, Manchester King<br />Street, Kingston,United Kingdom</p>
            <p class="font-bold pt-[20px]">T: +65 (0) 76-890-214</p>
            <p class="font-bold">E: bookings@grandburger.com</p>
          </div>

          <!-- Social Links -->
          <div>
            <ul class="footer-social">
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <p class="footer-copy">© COPYRIGHT THEMEGOODS ALL RIGHT RESERVED.</p>
        <p class="footer-brand">Original</p>
      </div>
    </footer>