@import "tailwindcss";
@theme {
  --color-background: #1c2123;
  --color-primary: #ffffff;
  --color-secondary: #dc9457;
  --color-text: #666666;
}
@theme {
  --text-xbig: 70px;
  --text-big: 50px;
  --text-mid: 27px;
  --text-sm: 16px;
}
@keyframes slideUpFade {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.hero-section {
  @apply h-[100vh] w-full flex items-center justify-center overflow-hidden;
}

.hero-section  img{
  @apply absolute inset-0 w-full h-full object-cover z-[-10px];  
 }

.hero-container{
  @apply relative flex flex-col justify-center text-center w-full max-w-250  items-center 
  mx-auto px-5 md:px-10;
  h2{
    @apply text-primary items-center text-big sm:text-xbig font-extrabold my-5
    sm:my-10 leading-tight;
  }
}
  .border-line {
    @apply w-full h-3 mx-auto 
      bg-[repeating-linear-gradient(135deg,#ffffff,#ffffff_2px,transparent_2px,transparent_6px)];
  }
  


.burgers-section {
  @apply bg-background pt-20 sm:py-25;
}

.burger-container {
  @apply flex flex-col w-full mx-auto max-w-330 px-5 md:px-10;
}

.burger-title {
  @apply text-[40px] md:text-[25px] lg:text-big text-center font-bold text-[#f7a32b] 
  border-t-3 border-b-3 border-secondary leading-10 md:leading-7 py-3 w-full lg:leading-12 
  lg:py-7 md:w-1/3;
}
.devider-title {
  @apply flex items-center justify-center md:pb-15;
}

.devider-line {
  @apply flex-grow border-t-3 border-secondary;
}

.devider-text {
  @apply mx-4 text-secondary font-extrabold sm:text-[1.2rem];
}

.burger-item {
  @apply flex flex-col sm:flex-row justify-between items-center w-full;
}
 

.burger-img{
  @apply w-full sm:w-1/2;
}
.burger-img img {
  @apply w-[80%] sm:w-[350px] h-full mx-auto;
}
.burger-text {
  @apply flex flex-col mx-auto text-center text-primary leading-22 font-bold;
}




.presentation {
  @apply flex flex-col;
}
.presentation-row {
  @apply flex flex-col md:flex-row h-full items-stretch;
}
.presentation-row-1 {
  @apply flex flex-col-reverse md:flex-row h-full items-stretch;
}

.presentation-image {
  @apply w-full md:w-1/2 h-auto lg:h-auto overflow-hidden flex;
}

.presentation-image img {
  @apply w-full h-full object-cover block;
}

.presentation-card-1 {
  @apply w-full md:w-1/2 bg-primary px-10 pt-15;
}
.presentation-card-2 {
  @apply w-full md:w-1/2  px-10 pt-15 bg-background flex flex-col;
}

.presentation-header {
  @apply flex items-center justify-center;
}

.presentation-line {
  @apply flex-grow border-t-3 border-[#091925];
}
.presentation-line-2 {
  @apply flex-grow border-t-3 border-primary;
}
.presentation-logo-1 {
  @apply text-[#091925] text-mid font-bold mx-5;
}

.presentation-logo-2 {
  @apply text-primary text-mid font-bold mx-5;
}

.presentation-text {
@apply flex flex-col items-center mx-auto  h-full pt-10;
}

.presentation-text h1 {
  @apply text-big md:text-xbig top-0 text-center
   items-center font-bold p-[0px] leading-tight;
}

.presentation-card-1 span {
  @apply text-big md:text-xbig text-[#f34801] mt-[-30px];
  font-family: "Pacifico", cursive;
}

.presentation-card-1 h4 {
  @apply text-lg font-medium mb-5 text-[#091925];
}

.presentation-card-1 p {
  @apply text-gray-600 text-justify leading-relaxed;
}
.presentation-card-2 h4 {
  @apply text-lg font-medium my-5 text-primary text-center;
}

.presentation-card-2 p {
  @apply text-primary text-justify leading-relaxed;
}
.view-menu-1 {
  @apply bg-[#f34801]  text-white mt-15 mb-15 lg:mb-30 font-semibold px-6 py-3
   rounded-lg
         transition-all duration-300 ease-in-out;
}
.view-menu-1:hover {
  @apply bg-[#d84c10] shadow-lg scale-105;
}

.view-menu-2 {
  @apply bg-[#fae38d] text-black mt-15 mb-15 lg:mb-30 font-semibold px-6 py-3 rounded-lg
         transition-all duration-300 ease-in-out;
}
.view-menu-2:hover {
  @apply bg-yellow-400 shadow-lg scale-105;
}

.bottom-presentation {
  @apply w-full h-full;
}

.bottom-presentation-img {
  @apply relative  w-full h-full z-[0] min-h-80 items-stretch bg-green-800;
}
.bottom-presentation-img img {
  @apply  h-full min-w-[600px] min-h-80;
}
.bottom-presentation-text {
  @apply absolute top-0 left-1/2 transform -translate-x-1/2 flex justify-center 
  items-start w-full pt-5 sm:pt-20;
}

.bottom-presentation-text h1 {
  @apply flex items-center justify-center text-3xl md:text-xbig font-bold
   text-primary flex-wrap;
}

.bottom-presentation-text h1 span {
  @apply text-primary text-[40px] underline underline-offset-9 mr-3;
}