@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-[#333] bg-primary leading-relaxed;
  font-family: "Rubik", sans-serif;
}
html,
body {
  @apply overflow-x-hidden;
}

@theme {
  --color-background: #1c2123;
  --color-primary: #ffffff;
  --color-secondary: #dc9457;
  --color-text: #666666;
}
@theme {
  --text-xbig: 70px;
  --text-big: 50px;
  --text-mid: 27px;
  --text-sm: 16px;
}
@keyframes slideUpFade {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.active {
  @apply text-secondary decoration-3 underline underline-offset-9 decoration-current;
}
.overlay {
  @apply fixed inset-0 bg-black/50 z-[90] hidden opacity-0 transition-opacity duration-300;
}

.overlay.show {
  @apply block opacity-100;
}

#progress {
  @apply bg-[#03cc65] fixed bottom-5 right-2 h-18 w-18 grid place-items-center 
  rounded-full shadow-lg cursor-pointer z-[9999] 
  hover:scale-110 hover:shadow-2xl transition-transform duration-200;
}

#progress-value {
  @apply h-[calc(100%-15px)] w-[calc(100%-15px)] bg-white rounded-full grid 
  place-items-center text-[35px] text-[#001a2e];
}




.main-content {
  @apply transition-transform duration-500;
}
.main-content.main-show {
  @apply -translate-x-50 md:-translate-x-70;
}
.main-header {
  @apply fixed py-4 md:py-10 flex justify-center items-center mx-auto w-full top-0 z-[100];
}
.main-header-container {
  @apply flex justify-between text-primary my-3 items-center max-w-330 w-full 
          px-5 md:px-10;
}
.main-header.hide {
  @apply hidden;
}
.fix-header {
  @apply fixed top-[-100px] py-[7px] shadow-xl transition-all duration-300 flex
         justify-center items-center w-full mx-auto z-[100] bg-background;
}
.fix-header-container {
  @apply flex justify-between text-primary my-3 items-center max-w-330 w-full 
          px-5 md:px-10;
}
.fix-header.show {
  @apply top-0;
}
.main-header .logo-container {
  @apply border-2 border-white p-[3px_10px] md:px-[30px] cursor-pointer inline-block;
  h1 {
    @apply text-white font-medium text-[clamp(.5rem,5vw,1.7rem)] m-0 flex items-center gap-2;
  }
}
.fix-header .logo-container {
  @apply border-2 border-white px-[15px] md:px-[22px] cursor-pointer inline-block;
  h1 {
    @apply text-white font-medium  text-[clamp(.5rem,5vw,1.7rem)] m-0 p-0 flex items-center;
  }
}
.logo-container .icon {
  @apply text-[clamp(.5rem,5vw,25px)] m-0;
}

.nav-list {
  @apply flex gap-[40px] font-bold items-center justify-center;
  li a {
    @apply relative text-sm hover:text-secondary;
  }
  a::after {
    content: "";
    @apply absolute left-0 bottom-[-8px] w-0 h-[3px] bg-secondary transition-all duration-300 
  ease-in-out;
  }
  a:hover::after {
    @apply w-full;
  }
}
.menu-button {
  @apply text-white lg:hidden text-[clamp(1.3rem,5vw,1.7rem)] cursor-pointer z-[150];
}

.menu-close {
  @apply text-white text-mid font-extrabold mb-[10px];
}
.mobile-nav {
  @apply fixed text-primary text-[20px] sm:text-mid font-bold top-0 h-full w-50 md:w-70 
  bg-background z-[200] p-8 shadow-xl transition-all duration-500 -right-100;
}
.mobile-nav.show {
  @apply right-0;
}

.mobile-nav ul{
@apply flex flex-col gap-5 sm:gap-0;
}

.subscribe-section {
  @apply bg-background px-5 md:px-10 py-15;
}

.subscribe-container {
  @apply max-w-330 mx-auto text-center flex flex-col px-5 md:px-10 ;
}

.subscribe-title {
  @apply flex items-center justify-center;
}

.subscribe-line {
  @apply flex-grow border-t-3 border-secondary;
}

.subscribe-text {
  @apply mx-4 text-secondary font-extrabold text-[1.2rem];
}
.subscribe-text-form {
  @apply flex flex-col md:flex-row justify-center gap-[30px] mt-[50px];
}
.subscribe-subtext {
  @apply text-white text-[20px] lg:ml-60;
}

.subscribe-form {
  @apply flex flex-col sm:flex-row items-center gap-3 w-full max-w-md mx-auto;
}

.subscribe-input {
  @apply flex-1 px-4 py-2 rounded-[15px] border border-gray-300 focus:outline-none 
         focus:ring-2 focus:ring-orange-400 transition duration-200 bg-primary;
}

.subscribe-button {
  @apply bg-orange-500 text-white px-6 py-2 rounded-[15px] font-semibold 
         hover:bg-orange-600 transition duration-300;
}

.footer {
  @apply bg-white text-neutral-800 py-12 px-4 md:px-8 lg:px-16;
}

.footer-content {
  @apply max-w-6xl mx-auto my-[36px] flex flex-col items-center gap-[36px];
  .logo-container {
    @apply border-2 border-background p-[3px_30px] cursor-pointer inline-block;
  }
  .logo-container h1 {
    @apply text-background font-bold text-[1.8rem] m-0 flex items-center gap-2;
  }

  .logo-container .icon {
    font-size: 28px;
  }
}
.footer-text {
  @apply flex flex-col sm:flex-row gap-5;
}

.footer-info {
  @apply text-center md:text-left leading-relaxed space-y-1 font-normal;
}
.footer-social {
  @apply flex flex-row gap-3 sm:flex-col sm:gap-1 font-normal;
}

.footer-social a {
  @apply relative text-neutral-700 hover:text-secondary;
}
.footer-social a::after {
  content: "";
  @apply absolute left-0 bottom-[-8px] w-0 h-[3px] bg-secondary transition-all 
  duration-300 ease-in-out;
}

.footer-social a:hover::after {
  @apply w-full;
}

.footer-bottom {
  @apply border-t mt-10 pt-6 gap-4 flex flex-col items-center sm:flex-row text-black;
}

.footer-copy {
  @apply underline underline-offset-4 decoration-2;
}

.footer-brand {
  @apply font-normal text-[2rem] text-black;
  font-family: "Pacifico", cursive;
}
.footer-copy,
.footer-brand {
  @apply sm:w-1/2 text-center;
}
